<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />

	<title>monGoals</title>

	<meta name="description" content="monGoals" />
	<meta name="author" content="Radek Stepan" />

    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

    <script src="{{ url_for('static', filename='js/raphael.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/g.raphael.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/g.line.js') }}" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript" charset="utf-8">
        window.onload = function () {
            var r = Raphael("holder");
            var x = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
            var y = [0,0,0,20,20,30,7,0,5,10,20,30,15,60,30,7,0,5,10]
            r.g.linechart(0, 0, 437, 100, x, y, { shade:true, "colors":["#3CC5DE"] });
        };
    </script>
</head>
<body>

<header id="top">
    <a class="new" href="#">Create a <strong>new</strong> goal</a>&nbsp;
</header>

<div id="wrap">
    <article>
        <header class="section">
            <h1 class="goal"><span>All goals</span></h1>
        </header>

        <ul id="goals">
            <li>
                <img src="{{ url_for('static', filename='img/corei5.jpg') }}" style="max-width:60px;" />
                <div class="meta dark">
                    <h3><a href="#">Achieve a greater life balance</a></h3>
                    <p>
                        <b>30<span class="light">p achieved</span></b> /
                        <b>60<span class="light">p needed</span></b> /
                        <b>20<span class="light">p remaining</span></b></p>
                </div>
                <div class="progress">
                    <div class="inner orange" style="width:32%;"></div>
                    <div class="percentage">32%</div>
                </div>
                <div class="clear"></div>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/corei5.jpg') }}" style="max-width:60px;" />
                <div class="meta dark">
                    <h3><a href="#">Make a few activity partners</a></h3>
                    <p>
                        <b>15<span class="light">p achieved</span></b> /
                        <b>17<span class="light">p needed</span></b> /
                        <b>29<span class="light">p remaining</span></b></p>
                </div>
                <div class="progress">
                    <div class="inner red" style="width:61%;"></div>
                    <div class="percentage">61%</div>
                </div>
                <div class="clear"></div>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/corei5.jpg') }}" style="max-width:60px;" />
                <div class="meta dark">
                    <h3><a href="#">Something about sex goes here</a></h3>
                    <p>
                        <b>15<span class="light">p achieved</span></b> /
                        <b>17<span class="light">p needed</span></b> /
                        <b>29<span class="light">p remaining</span></b></p>
                </div>
                <div class="progress">
                    <div class="inner green" style="width:26%;"></div>
                    <div class="percentage">26%</div>
                </div>
                <div class="clear"></div>
            </li>
        </ul>
    </article>
</div>

</body>
</html>