<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />

	<title>mongoals</title>

	<meta name="description" content="mongoals" />
	<meta name="author" content="Radek Stepan" />

    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}">

    <script src="{{ url_for('static', filename='js/raphael.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/g.raphael.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/g.line.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/jquery-1.5.2.min.js') }}" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript" charset="utf-8">
        // 'fetch' colors from css
        var greenColor = jQuery('<div></div>').hide().addClass("green").css('color');
        var redColor = jQuery('<div></div>').hide().addClass("red").css('color');
        var blueColor = jQuery('<div></div>').hide().addClass("blue").css('color');

        {%- if progress_all -%}
        jQuery(document).ready(function() {
            jQuery('#meta').append('<div><div id="chart-all" class="chart"></div></div>');

            var r = Raphael("chart-all");
            var x = [{% for number in range(progress_all|length) -%}
            {{ number+1 }}{% if not loop.last %},{% endif %}
            {%- endfor %}];
            {% set progress = 0 -%}
            var y = [{% for entry in progress_all -%}
            {%- set progress = progress + entry.points -%}
            {{ progress }}{% if not loop.last %},{% endif %}
            {%- endfor %}];

            r.g.linechart(0, 0, 500, 60, x, y, { shade:true, "colors":[blueColor] });
        });
        {% endif -%}
    </script>
</head>
<body>

<header>
    <a href="{{ url_for('goals.new') }}">New goal</a>
    Your goals
</header>

<div id="meta">
    {%- if meta.today.current.points > 0 %}
    <div>
        {{ meta.today.current.points }}p
        {% if meta.today.previous.points > 0 %}
            {%- set percent = (((meta.today.current.points * 100) / meta.today.previous.points) - 100)|round(1) -%}
            {% if percent > 0 %}
            <span class="green">(+{{ percent }}%)</span>
            {%- else -%}
                {% if percent < 0 -%}
                <span class="red">({{ percent }}%)</span>
                {% else -%}
                <span></span>
                {%- endif -%}
            {%- endif -%}
        {% else -%}
            <span></span>
        {% endif -%}
        <p>today</p>
    </div>
    {% endif -%}

    {%- if meta.seven.current.points > 0 %}
    <div>
        {{ meta.seven.current.points }}p
        {% if meta.seven.previous.points > 0 %}
            {%- set percent = (((meta.seven.current.points * 100) / meta.seven.previous.points) - 100)|round(1) -%}
            {% if percent > 0 %}
            <span class="green">(+{{ percent }}%)</span>
            {%- else -%}
                {% if percent < 0 -%}
                <span class="red">({{ percent }}%)</span>
                {% else -%}
                <span></span>
                {%- endif -%}
            {%- endif -%}
        {% else -%}
            <span></span>
        {% endif -%}
        <p>last 7 days</p>
    </div>
    {% endif -%}

    {%- if meta.thirty.current.points > 0 %}
    <div>
        {{ meta.thirty.current.points }}p
        {% if meta.thirty.previous.points > 0 %}
            {%- set percent = (((meta.thirty.current.points * 100) / meta.thirty.previous.points) - 100)|round(1) -%}
            {% if percent > 0 %}
            <span class="green">(+{{ percent }}%)</span>
            {%- else -%}
                {% if percent < 0 -%}
                <span class="red">({{ percent }}%)</span>
                {% else -%}
                <span></span>
                {%- endif -%}
            {%- endif -%}
        {% else -%}
            <span></span>
        {% endif -%}
        <p>last 30 days</p>
    </div>
    {% endif -%}
</div>

<div class="clear"></div>

<article>
    {% for goal in goals %}
    <a href="{{ url_for('goals.goal', id=goal._id) }}">
        <div class="column">
            <h2>{{ goal.name }}</h2>
            <h3>{{ goal.date.end|timestamp_distance }}, started {{ goal.date.begin|timestamp_distance }}</h3>
            <div id="chart-{{ loop.index }}" class="chart"></div>
        </div>
    </a>
    <script type="text/javascript" charset="utf-8">
        {% if goal.log|length > 1 -%}
            var r = Raphael("chart-{{ loop.index }}");
            var x = [{% for number in range(goal.log|length) -%}
            {{ number+1 }}{% if not loop.last %},{% endif %}
            {%- endfor %}];
            {% set progress = 0 -%}
            var y = [{% for entry in goal.log|sort_log -%}
            {%- set progress = progress + entry.points -%}
            {{ (progress * 100) / goal.points.target }}{% if not loop.last %},{% endif %}
            {%- endfor %}];

            {% if (goal.points.target * (goal.points.logged / 100)) > ((meta.now - goal.date.begin) / (goal.date.end - goal.date.begin)) -%}
            r.g.linechart(0, 000, 300, 200, x, [y, 100], { shade:true, "colors":[greenColor] });
            {%- else -%}
            r.g.linechart(0, 000, 300, 200, x, [y, 100], { shade:true, "colors":[redColor] });
            {%- endif %}
        {%- else -%}
            jQuery("#chart-{{ loop.index }}").append('<p>Your progress will show here soon</p>');
        {%- endif %}
    </script>
    {% endfor %}
</article>

</body>
</html>