<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />

	<title>mongoals</title>

	<meta name="description" content="mongoals" />
	<meta name="author" content="Radek Stepan" />

    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}">

    <script src="{{ url_for('static', filename='js/jquery-1.5.2.min.js') }}" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery('input.more').click(function() {
                jQuery('div.currency:hidden').first().show();
                if (jQuery('div.currency:hidden').length == 0) {
                    jQuery(this).remove();
                }
            });
            jQuery('a.switcher').click(function(e) {
                jQuery('div.variant:hidden').show();
                jQuery(this).parent().parent().hide();
                var newVariant = (jQuery('input.variant').val() == 'points') ? 'value' : 'points';
                jQuery('input.variant').val(newVariant);
            });
        });
    </script>
</head>
<body>

<header>
    <a href="{{ url_for('goals.all') }}">&larr; Back to all goals</a>
    New goal
</header>

<article>
    {% if error %}
    <ul class="error">
    {% for e in error %}
        <li>{{ e }}</li>
    {% endfor %}
    </ul>
    {% endif %}

    <form action="{{ url_for('goals.new') }}" enctype=multipart/form-data method=post>
        <div class="part">
            <div class="column">
                <h2>About goal</h2>
                <div>
                    <label>Name</label>
                    <input type="text" name="name">
                </div>
                <div>
                    <label>Description</label>
                    <textarea name="description"></textarea>
                </div>
                <div>
                    <label>Due date</label>
                    <select name="due-date[day]">
                        {% for day in range(1, 32) %}
                            <option value="{{ day }}">{{ day }}</option>
                        {% endfor %}
                    </select>
                    <select name="due-date[month]">
                        {% for month in range(1, 13) %}
                            <option value="{{ month }}">{{ month }}</option>
                        {% endfor %}
                    </select>
                    <select name="due-date[year]">
                        {% for year in range(2011, 2100) %}
                            <option value="{{ year }}">{{ year }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label>Reward image file</label>
                    <p class="note">PNG, JPEG are fine.</p>
                    <input type="file" name="file">
                </div>
                <div>
                    <label>Tags</label>
                    <p class="note">Comma delineated, do not worry about spaces.</p>
                    <input type="text" name="tags">
                </div>
                <input type="submit" value="Save">
            </div>
            <div class="column">
                <input type="hidden" class="variant" name="variant" value="points" autocomplete="off">
                <div class="variant">
                    <h2>Points <a class="switcher">or target value?</a></h2>
                    <div>
                        <label>Number of points needed</label>
                        <p class="note">This is the "complexity" of the goal.</p>
                        <input type="text" name="points[target]">
                    </div>
                    <label>Currency for progress</label>
                    {% for number in range(10) %}
                        <div class="currency" style="{% if not loop.first %}display:none;{% endif %}">
                            <div class="inline">
                                <select name="points[currency-{{ number }}]">
                                    {% for p in fibonacci %}
                                        <option value="{{ p }}">{{ p }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="inline">
                                <input type="text" name="points[name-{{ number }}]">
                            </div>
                            <div class="clear"></div>
                        </div>
                    {% endfor %}
                    <input type="button" class="more" value="Add more">
                </div>
                <div class="variant" style="display:none;">
                    <h2>Target value <a class="switcher">or points?</a></h2>
                    <div>
                        <label>Starting value</label>
                        <input type="text" name="values[begin]">
                    </div>
                    <div>
                        <label>End value</label>
                        <input type="text" name="values[end]">
                    </div>
                    <div>
                        <label>Unit</label>
                        <input type="text" name="unit">
                    </div>
                    <div>
                        <label>Number of points needed</label>
                        <p class="note">This is the "complexity" of the goal.</p>
                        <input type="text" name="target[points]">
                    </div>
                </div>
            </div>
            {% if goals %}
            <div class="column">
                <h2>Current goals</h2>
                <table>
                    {% for goal in goals %}
                        <tr>
                            <td><b>{{ goal.points.target }}p</b></td>
                            <td>{{ goal.name }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            {% endif %}
        </div>
    </form>
</article>

</body>
</html>