<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />

	<title>monGoals</title>

	<meta name="description" content="monGoals" />
	<meta name="author" content="Radek Stepan" />

    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}">

    <script src="{{ url_for('static', filename='js/jquery-1.5.2.min.js') }}" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery('input.more').click(function() {
                jQuery('div.currency:hidden').first().show();
                if (jQuery('div.currency:hidden').length == 0) {
                    jQuery(this).remove();
                }
            });
        });
    </script>
</head>
<body>

<header>
    <a href="{{ url_for('goals.all') }}">&larr; Back to all goals</a>
    New goal
</header>

<article>
    <form action="{{ url_for('goals.new') }}" method=post>
        <div class="part">
            <div class="column">
                <h2>About goal</h2>
                <div>
                    <label>Name</label>
                    <input type="text" name="name">
                </div>
                <div>
                    <label>Description</label>
                    <textarea name="description"></textarea>
                </div>
                <div>
                    <label>Due date</label>
                    <input type="text" name="date">
                </div>
                <div>
                    <label>Reward file name</label>
                    <input type="text" name="file">
                </div>
                <input type="submit" value="Save">
            </div>
            <div class="column">
                <h2>Points currency</h2>
                <label>Points for progress</label>
                {% for number in range(10) %}
                    <div class="currency" style="{% if not loop.first %}display:none;{% endif %}">
                        <div class="inline">
                            <select name="currency-points[{{ number }}]">
                                <option>1</option>
                            </select>
                        </div>
                        <div class="inline">
                            <input type="text" name="currency-name[{{ number }}]">
                        </div>
                        <div class="clear"></div>
                    </div>
                {% endfor %}
                <input type="button" class="more" value="Add more">
            </div>
        </div>
    </form>
</article>

</body>
</html>