<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />

	<title>mongoals</title>

	<meta name="description" content="mongoals" />
	<meta name="author" content="Radek Stepan" />

    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}">

    <script src="{{ url_for('static', filename='js/raphael.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/g.raphael.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/g.line.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/jquery-1.5.2.min.js') }}" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript" charset="utf-8">
        jQuery(document).ready(function() {
            {% if goal.log|length > 1 -%}
                var r = Raphael("chart");
                var x = [{% for number in range(goal.log|length) -%}
                            {{ number+1 }}{% if not loop.last %},{% endif %}
                        {%- endfor %}];
                {% set progress = 0 -%}
                var y = [{% for entry in goal.log -%}
                            {%- set progress = progress + entry.points -%}
                            {{ (progress * 100) / goal.points.target }}{% if not loop.last %},{% endif %}
                        {%- endfor %}];

                {% if ((goal.points.logged * 100) / goal.points.target) > (((meta.now - goal.date.begin) * 100) / (goal.date.end - goal.date.begin)) -%}
                r.g.linechart(0, 0, 300, 200, x, [y, 100], { shade:true, "colors":[greenColor] });
                {%- else -%}
                r.g.linechart(0, 0, 300, 200, x, [y, 100], { shade:true, "colors":[redColor] });
                {%- endif -%}
            {%- else -%}
                jQuery("#chart").append('<p>Your progress will show here soon</p>');
            {%- endif %}

            // deliver the image
            jQuery.get("{{ url_for('cdn.image', id=goal.reward) }}", function(data) {
                jQuery("#reward img").attr('src', 'data:image/jpeg;base64,' + data);
            });

            // confirm box
            jQuery('a.yousure').click(function(e) {
                if (!confirm(jQuery(this).html() + '?')) {
                    e.preventDefault();
                }
            });
        });
    </script>
</head>
<body>
<script type="text/javascript" charset="utf-8">
    // 'fetch' colors from css (verboseness due to Chrome)
    var greenColor = jQuery('body').append(
            jQuery('<div id="green"></div>').hide().addClass("green")).find("#green").css('color');
    var redColor = jQuery('body').append(
            jQuery('<div id="red"></div>').hide().addClass("red")).find("#red").css('color');
    var blueColor = jQuery('body').append(
            jQuery('<div id="blue"></div>').hide().addClass("blue")).find("#blue").css('color');
</script>

<header>
    <a href="{{ url_for('goals.log', id=goal._id) }}">Log progress &rarr;</a>
    <a href="{{ url_for('goals.all') }}">&larr; Back to all goals</a>
    {{ goal.name }}
</header>

<div id="meta">
    {%- if meta.today.current.points != 0 %}
    <div>
        {{ meta.today.current.points }}p
        {% if meta.today.previous.points != 0 %}
            {%- set percent = (((meta.today.current.points - meta.today.previous.points) / meta.today.previous.points|abs) * 100)|round(1) -%}
            {% if percent > 0 %}
            <span class="green">(+{{ percent }}%)</span>
            {%- else -%}
                {% if percent < 0 -%}
                <span class="red">({{ percent }}%)</span>
                {% else -%}
                <span></span>
                {%- endif -%}
            {%- endif -%}
        {% else -%}
            <span></span>
        {% endif -%}
        <p>today</p>
    </div>
    {% endif -%}

    {%- if meta.seven.current.points != 0 %}
    <div>
        {{ meta.seven.current.points }}p
        {% if meta.seven.previous.points != 0 %}
            {%- set percent = (((meta.seven.current.points - meta.seven.previous.points) / meta.seven.previous.points|abs) * 100)|round(1) -%}
            {% if percent > 0 %}
            <span class="green">(+{{ percent }}%)</span>
            {%- else -%}
                {% if percent < 0 -%}
                <span class="red">({{ percent }}%)</span>
                {% else -%}
                <span></span>
                {%- endif -%}
            {%- endif -%}
        {% else -%}
            <span></span>
        {% endif -%}
        <p>last 7 days</p>
    </div>
    {% endif -%}

    {%- if meta.thirty.current.points != 0 %}
    <div>
        {{ meta.thirty.current.points }}p
        {% if meta.thirty.previous.points != 0 %}
            {%- set percent = (((meta.thirty.current.points - meta.thirty.previous.points) / meta.thirty.previous.points|abs) * 100)|round(1) -%}
            {% if percent > 0 %}
            <span class="green">(+{{ percent }}%)</span>
            {%- else -%}
                {% if percent < 0 -%}
                <span class="red">({{ percent }}%)</span>
                {% else -%}
                <span></span>
                {%- endif -%}
            {%- endif -%}
        {% else -%}
            <span></span>
        {% endif -%}
        <p>last 30 days</p>
    </div>
    {% endif -%}

    <div>
        {{ goal['values'].begin }} {{ goal.points.unit }} <span></span>
        <p>beginning</p>
    </div>
    <div>
        {{ goal['values'].current }} {{ goal.points.unit }} <span></span>
        <p>current</p>
    </div>
    <div>
        {{ goal['values'].end }} {{ goal.points.unit }} <span></span>
        <p>target</p>
    </div>
</div>

<div class="clear"></div>

<article>
    <div class="part">
        <div class="column">
            <h2>Description</h2>
            <div class="tags">
                {%- for tag in goal.tags -%}
                <a href="{{ url_for('goals.all', tag=tag) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
                {%- endfor -%}
            </div>
            <p>{{ goal.description }}</p>
        </div>
        <div class="column">
            <h2>Conversion</h2>
            <table>
                <tr>
                    <td><b>1p</b></td>
                    <td>for each {{ goal.points.conversion }} {{ goal.points.unit }} logged</td>
                </tr>
            </table>
        </div>

        <div class="clear"></div>

        <div class="column">
            <h2>Progress</h2>
            <h3>{{ goal.date.end|timestamp_distance }}, started {{ goal.date.begin|timestamp_distance }}</h3>
            <div id="chart" class="chart"></div>
        </div>
        <div id="reward" class="column">
            <h2>Reward</h2>
            <center><img style="max-width:300px;max-height:222px;" /></center>
        </div>

        <div class="clear"></div>

        <div class="column smalltext">
            <h2>You can</h2>
            <table>
                <tr>
                    <td><b><a href="{{ url_for('goals.edit', id=goal._id) }}">Edit</a></b></td>
                    <td>Change some aspects of this goal</td>
                </tr>
                <tr>
                    <td><b><a class="yousure" href="{{ url_for('goals.archive', id=goal._id) }}">Archive</a></b></td>
                    <td>All the progress is preserved but the goal does not show on the main listing</td>
                </tr>
                <tr>
                    <td><b><a class="yousure" href="{{ url_for('goals.remove', id=goal._id) }}">Remove</a></b></td>
                    <td>All traces of the goal are removed</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="part flex">
        <div class="column">
            <h2>Log</h2>
            <table>
                {% for entry in goal.log|reverse %}
                    <tr class="{% if loop.last %}last{% endif %}">
                        <td><b>{{ entry.points }}p</b></td>
                        <td>
                            {{ entry.value }} {{ goal.points.unit }}
                            <p class="light">{{ entry.description }}</p>
                        </td>
                        <td><span class="nobr">{{ entry.date|timestamp_format }}</span></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="clear"></div>
</article>

</body>
</html>